<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Variables</key>
	<dict>
		<key>Swift</key>
		<dict>
			<key>ibCustomModuleProvider</key>
			<string>target</string>
			<key>moduleNamePrefixForClasses</key>
			<string>$(PRODUCT_MODULE_NAME).</string>
		</dict>
		<key>Objective-C</key>
		<dict>
			<key>ibCustomModuleProvider</key>
			<string></string>
			<key>moduleNamePrefixForClasses</key>
			<string></string>
		</dict>
	</dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Concrete</key>
	<true/>
	<key>Identifier</key>
	<string>io.fire.xcodeTemplate-swift</string>
	<key>Description</key>
	<string>Fire iOS Swift starter project. Create Readme with tasks needs to be completed to start project. It adds some folder to handle provisionning profiles for Fire and Customers accounts.</string>
	<key>Ancestors</key>
	<array>
		<string>io.fire.dt.unit.cocoaTouchApplication</string>
	</array>
	<key>Components</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Integrate Unit Tests.</string>
			<key>Identifier</key>
			<string>io.fire.dt.unit.iosUnitTestBundleBase</string>
			<key>Name</key>
			<string>___PACKAGENAME___Tests</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Integrate UI Tests.</string>
			<key>Identifier</key>
			<string>io.fire.dt.unit.iosUITestBundleBase</string>
			<key>Name</key>
			<string>___PACKAGENAME___UITests</string>
		</dict>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>Name</key>
			<string>___PROJECTNAME___</string>
			<key>SharedSettings</key>
			<dict>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>Name</key>
					<string>R.swift Generation Script</string>
					<key>ShellPath</key>
					<string>/bin/bash</string>
					<key>ShellScript</key>
					<string>&quot;${SRCROOT}/___PROJECTNAME___/Scripts/R.swift.sh&quot;</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>Name</key>
					<string>SwiftLint Run Script</string>
					<key>ShellPath</key>
					<string>/bin/bash</string>
					<key>ShellScript</key>
					<string>&quot;${PODS_ROOT}/SwiftLint/swiftlint&quot;</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>Name</key>
					<string>Show TODO &amp; FIXME Warnings</string>
					<key>ShellPath</key>
					<string>/bin/bash</string>
					<key>ShellScript</key>
					<string>&quot;${SRCROOT}/___PROJECTNAME___/Scripts/todo_warning.sh&quot;</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>ViewModel/GenericViewModel.swift</string>
		<string>Model/User.swift</string>
		<string>ViewModel/ViewModel.swift</string>
		<string>../code-signing/___PACKAGENAME___/export.plist</string>
		<string>../code-signing/Fire/export.plist</string>
		<string>Extensions/StringExtension.swift</string>
		<string>../R.generated.swift</string>
		<string>AppDelegate.swift</string>
		<string>Views/ViewController.swift</string>
		<string>../.swiftlint.yml</string>
		<string>Scripts/R.swift.sh</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Model/User.swift</key>
		<dict>
			<key>Path</key>
			<string>User.swift</string>
			<key>Group</key>
			<string>Model</string>
		</dict>
		<key>ViewModel/GenericViewModel.swift</key>
		<dict>
			<key>Path</key>
			<string>GenericViewModel.swift</string>
			<key>Group</key>
			<string>ViewModel</string>
		</dict>
		<key>ViewModel/ViewModel.swift</key>
		<dict>
			<key>Path</key>
			<string>ViewModel.swift</string>
			<key>Group</key>
			<string>ViewModel</string>
		</dict>
		<key>../code-signing/___PACKAGENAME___/export.plist</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Beginning</key>
			<string>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;!DOCTYPE plist PUBLIC &quot;-//Apple//DTD PLIST 1.0//EN&quot; &quot;http://www.apple.com/DTDs/PropertyList-1.0.dtd&quot;&gt;
&lt;plist version=&quot;1.0&quot;&gt;
&lt;dict&gt;
        &lt;key&gt;teamID&lt;/key&gt;
        &lt;string&gt;57EE7HVFSH&lt;/string&gt;
        &lt;key&gt;method&lt;/key&gt;
        &lt;string&gt;development&lt;/string&gt;
        &lt;key&gt;uploadSymbols&lt;/key&gt;
        &lt;false/&gt;
        &lt;key&gt;uploadBitcode&lt;/key&gt;
        &lt;false/&gt;
&lt;/dict&gt;
&lt;/plist&gt;</string>
			<key>Group</key>
			<array>
				<string>code-signing</string>
				<string>Company</string>
			</array>
		</dict>
		<key>../code-signing/Fire/export.plist</key>
		<dict>
			<key>Beginning</key>
			<string>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;!DOCTYPE plist PUBLIC &quot;-//Apple//DTD PLIST 1.0//EN&quot; &quot;http://www.apple.com/DTDs/PropertyList-1.0.dtd&quot;&gt;
&lt;plist version=&quot;1.0&quot;&gt;
&lt;dict&gt;
        &lt;key&gt;teamID&lt;/key&gt;
        &lt;string&gt;57EE7HVFSH&lt;/string&gt;
        &lt;key&gt;method&lt;/key&gt;
        &lt;string&gt;development&lt;/string&gt;
        &lt;key&gt;uploadSymbols&lt;/key&gt;
        &lt;false/&gt;
        &lt;key&gt;uploadBitcode&lt;/key&gt;
        &lt;false/&gt;
&lt;/dict&gt;
&lt;/plist&gt;</string>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>code-signing</string>
				<string>Fire</string>
			</array>
		</dict>
		<key>Extensions/StringExtension.swift</key>
		<dict>
			<key>Path</key>
			<string>StringExtension.swift</string>
			<key>Group</key>
			<string>Extensions</string>
		</dict>
		<key>Views/ViewController.swift</key>
		<dict>
			<key>Path</key>
			<string>ViewController.swift</string>
			<key>Group</key>
			<string>View Controllers</string>
		</dict>
		<key>AppDelegate.swift</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.swift</string>
		</dict>
		<key>../R.generated.swift</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>../R.generated.swift</string>
		</dict>
		<key>../.swiftlint.yml</key>
		<dict>
			<key>Path</key>
			<string>.swiftlint.yml</string>
			<key>Group</key>
			<string>Non-iOS Resources</string>
		</dict>
		<key>Scripts/R.swift.sh</key>
		<dict>
			<key>Path</key>
			<string>Scripts/R.swift.sh</string>
			<key>Group</key>
			<string>Scripts</string>
		</dict>
	</dict>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>MAIN_APP_ID</key>
			<string>com.___PROJECTNAME___</string>
			<key>MAIN_APP_PROV_PROFILE</key>
			<string>___PROJECTNAME___-dev</string>
		</dict>
		<key>Configurations</key>
		<dict>
			<key>Release</key>
			<dict>
				<key>SWIFT_ACTIVE_COMPILATION_CONDITIONS</key>
				<string>RELEASE</string>
				<key>SWIFT_OPTIMIZATION_LEVEL</key>
				<string>-Owholemodule</string>
				<key>GCC_INSTRUMENT_PROGRAM_FLOW_ARCS</key>
				<string>NO</string>
				<key>GCC_GENERATE_TEST_COVERAGE_FILES</key>
				<string>NO</string>
			</dict>
			<key>Debug</key>
			<dict>
				<key>SWIFT_ACTIVE_COMPILATION_CONDITIONS</key>
				<string>DEBUG</string>
				<key>SWIFT_OPTIMIZATION_LEVEL</key>
				<string>-Onone</string>
				<key>GCC_INSTRUMENT_PROGRAM_FLOW_ARCS</key>
				<string>YES</string>
				<key>GCC_GENERATE_TEST_COVERAGE_FILES</key>
				<string>YES</string>
			</dict>
		</dict>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>FireMockEnabled</string>
			<key>Name</key>
			<string>Include FireMock</string>
			<key>Description</key>
			<string>Adds FireMock as a CocoaPod to handle Mock easily with powerful.</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>yes</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>../Podfile:firemock</key>
						<string>    pod &apos;FireMock&apos;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>../Podfile:firemock</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>RxSwiftEnabled</string>
			<key>Name</key>
			<string>Include RxSwift</string>
			<key>Description</key>
			<string>Adds RxSwift as a CocoaPod</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>../Podfile:rxswift</key>
						<string>    pod &apos;RxSwift&apos;</string>
						<key>../Podfile:rxcocoa</key>
						<string>    pod &apos;RxCocoa&apos;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>../Podfile:rxswift</string>
						<string>../Podfile:rxcocoa</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>AlamofireEnabled</string>
			<key>Name</key>
			<string>Include Alamofire</string>
			<key>Description</key>
			<string>Adds Alamofire as a CocoaPod</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>../Podfile:afpod</key>
						<string>    pod &apos;Alamofire&apos;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>../Podfile:afpod</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>CrashlyticsEnabled</string>
			<key>Name</key>
			<string>Include Crashlytics</string>
			<key>Description</key>
			<string>Adds Crashlytics as a CocoaPod</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Targets</key>
					<array>
						<dict>
							<key>Name</key>
							<string>___PROJECTNAME___</string>
							<key>SharedSettings</key>
							<dict>
								<key>PRODUCT_NAME</key>
								<string>$(TARGET_NAME)</string>
							</dict>
							<key>BuildPhases</key>
							<array>
								<dict>
									<key>Class</key>
									<string>ShellScript</string>
									<key>Name</key>
									<string>Fabric Crashlytics</string>
									<key>ShellPath</key>
									<string>/bin/bash</string>
									<key>ShellScript</key>
									<string>&quot;${PODS_ROOT}/Fabric/run&quot; &lt;FABRIC_API_KEY&gt; &lt;BUILD_KEY&gt;</string>
								</dict>
							</array>
						</dict>
					</array>
					<key>Definitions</key>
					<dict>
						<key>../Podfile:fabricpod</key>
						<string>    pod &apos;Fabric&apos;</string>
						<key>../Podfile:crashpod</key>
						<string>    pod &apos;Crashlytics&apos;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>../Podfile:fabricpod</string>
						<string>../Podfile:crashpod</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_Universal.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
					</dict>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPad.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
					</dict>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPhone.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>PushNotificationServiceEnabled</string>
			<key>Name</key>
			<string>Include Rich Push Notification Service</string>
			<key>Description</key>
			<string>Add User Defined Push Notification Service to allow build project on IC</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>PUSH_SERVICE_APP_ID</key>
							<string>com.___PROJECTNAME___.pushservice</string>
							<key>PUSH_SERVICE_PROV_PROFILE</key>
							<string>___PROJECTNAME___ Push Service Profile</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>PushNotificationContentEnabled</string>
			<key>Name</key>
			<string>Include Rich Push Notification Content</string>
			<key>Description</key>
			<string>Add User Defined Push Notification Content to allow build project on IC</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>PUSH_CONTENT_APP_ID</key>
							<string>com.___PROJECTNAME___.pushcontent</string>
							<key>PUSH_CONTENT_PROV_PROFILE</key>
							<string>___PROJECTNAME___ Push Content Profile</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>WatchEnabled</string>
			<key>Name</key>
			<string>Include Apple Watch</string>
			<key>Description</key>
			<string>Add User Defined Apple Watch to allow build project on IC</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>APPLE_WATCH_APP_ID</key>
							<string>com.___PROJECTNAME___.watch</string>
							<key>APPLE_WATCH_PROV_PROFILE</key>
							<string>___PROJECTNAME___ Apple Watch Profile</string>
						</dict>
					</dict>
					<key>Components</key>
					<array>
						<dict>
							<key>Description</key>
							<string>Integrate Apple Watch.</string>
							<key>Identifier</key>
							<string>com.apple.dt.unit.crossPlatform_watchOSComponent</string>
							<key>Name</key>
							<string>___PACKAGENAME___Watch</string>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
